form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 50rem;
  font-size: 1.8rem;
  height: 75vh;
}

input,
select {
  display: block;
  border: 1px solid black;
  border-radius: 3px;
  height: 2.5rem;
  width: 55rem;
  margin: 0.4rem 0;
}

label {
  text-align: left;
  position: relative;
  width: 100%;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"],
input[type="number"],
select {
  padding: 1px 1rem;
}

#res-time,
#res-occasion {
  width: 58rem;
  height: 2.8rem;
}

.form-group {
  display: flex;
  align-items: center;
}

.form-input > p {
  margin-bottom: 3rem;
}

.btn[type="submit"] {
  margin-top: 2rem;
  height: 4rem;
  width: 20rem;
}
